@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #e4e4e4;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
  font-weight: 400;
}

a {
  color: #1d1d1d;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  a {
    color: #1d1d1d;
    text-decoration: none;
  }
  a:active, a:hover {
    text-decoration: none;
  }
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #1d1d1d;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

img {
  max-width: 100%;
}

:root {
  --swiper-theme-color: red;
}

.bg-gray {
  background-color: #f8f8f8;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiper .swiper-slide img {
  display: block;
  width: 30%;
  height: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  display: none;
}
.swiper .swiper-button-next::before,
.swiper .swiper-button-prev::before {
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
  color: #000;
  opacity: 0.5;
}
.swiper .swiper-button-next::before {
  content: "\f138";
}
.swiper .swiper-button-prev::before {
  content: "\f137";
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .inner {
    padding: 0 30px;
  }
}

#skip-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  text-align: center;
  background-color: #1d1d1d;
}
#skip-nav a:not(:focus) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
#skip-nav a:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  outline-offset: -0.4rem;
  outline: 2px solid #246beb;
  font-size: 1.5rem;
  color: #fff;
  width: 100%;
  height: 3.2rem;
  margin: 0 auto;
  text-align: center;
}
#skip-nav.type1 {
  background-color: #fff;
}
#skip-nav.type1 a:focus {
  color: #1d1d1d;
}

#header {
  position: relative;
  z-index: 1000;
}
@media (min-width: 1024px) {
  #header {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
@media (min-width: 1024px) and (min-width: 600px) and (max-width: 1023px) {
  #header {
    padding: 0 30px;
  }
}
#header.active::before {
  height: 218px;
}
#header.active .gnb__depth2 {
  height: 218px;
  padding: 30px 0;
}
#header::before {
  content: "";
  position: absolute;
  top: 102px;
  left: 0;
  right: 0;
  height: 0;
  background: transparent;
  transition: all 0.3s;
}
#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: none;
  height: 73px;
}
@media (min-width: 1024px) {
  #header .inner {
    height: auto;
  }
}
#header #logo {
  transform: scale(0.8);
  transform-origin: 0 50%;
}
@media (min-width: 1024px) {
  #header #logo {
    transform: none;
  }
}
#header #logo a {
  display: block;
  width: 200px;
  height: 35px;
  background: url("../../../resources/images/pattern/common/head_logo.svg") no-repeat 0 0/contain;
}
#header #logo span {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

#gnb {
  display: none;
  position: relative;
}
@media (min-width: 1024px) {
  #gnb {
    display: block;
  }
}
#gnb .gnb__depth1 {
  display: flex;
}
#gnb .gnb__depth1 > li {
  position: relative;
}
#gnb .gnb__depth1 > li:hover > a > span {
  color: #d50032;
}
#gnb .gnb__depth1 > li:hover > a > span::after {
  width: 100%;
}
#gnb .gnb__depth1 > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 102px;
  padding: 0 45px;
  font-size: 1.8rem;
}
#gnb .gnb__depth1 > li > a:hover {
  text-decoration: none;
}
#gnb .gnb__depth1 > li > a span {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
#gnb .gnb__depth1 > li > a span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  background: #d50032;
  transition: all 0.5s;
}
#gnb .gnb__depth2 {
  overflow: hidden;
  position: absolute;
  top: 102px;
  left: 0;
  right: 0;
  height: 0;
  padding: 0;
  background: transparent;
  transition: all 0.5s;
}
#gnb .gnb__depth2 a {
  display: block;
  padding: 7px 0;
  text-align: center;
  color: #000000;
}
#gnb .gnb__depth2 a:hover {
  color: #d50032;
  transition: all 0.5s;
}

.util {
  display: flex;
  gap: 15px;
}
.util .lang {
  display: block;
  position: relative;
}
@media (min-width: 1024px) {
  .util .lang {
    display: block;
  }
}
.util .lang.active .lang__btn::after {
  content: "\f106";
  font-family: "Line Awesome Free";
  font-weight: 900;
}
.util .lang.active .lang__lst {
  display: block;
}
.util .lang__btn {
  height: 57px;
  margin-right: 10px;
  text-transform: uppercase;
}
.util .lang__btn::after {
  content: "\f107";
  font-family: "Line Awesome Free";
  font-weight: 900;
  margin-left: 5px;
  color: #d50032;
}
.util .lang__lst {
  display: none;
  position: absolute;
  top: 52px;
  left: 0;
  width: 90%;
  background: #fff;
  text-align: center;
}
.util .lang__lst li {
  padding: 5px 0;
  text-transform: uppercase;
}
.util .search {
  transform: scaleX(-1);
}
.util .search::before {
  content: "\f002";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
}
.util .all-menu::before {
  content: "\f0c9";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
}

#nav-all {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #d50032;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.3s;
}
#nav-all.active {
  display: block;
  left: 0;
}

.sec-g {
  overflow: hidden;
  padding: 10vw 0;
}
.sec-g__tit {
  padding-bottom: 2.34375vw;
  font-size: 53px;
  font-family: "Lora", sans-serif;
}
.sec-g__more {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
}
@media (min-width: 600px) {
  .sec-g__more {
    right: 30px;
  }
}
.sec-g__more::after {
  content: "\f061";
  font-family: "Line Awesome Free";
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #d50032;
  border-radius: 50%;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#header {
  font-family: "Lora", sans-serif;
}
#header .lang__btn {
  font-family: "Lora", sans-serif;
}

.intro {
  font-size: 21vw;
  font-weight: 400;
  margin-top: 177%;
  margin-bottom: 50%;
  letter-spacing: -1px;
  position: relative;
  will-change: transform;
  font-family: "Lora", sans-serif;
}
@media (min-width: 600px) {
  .intro {
    font-size: 28vw;
    margin-top: 105%;
    margin-bottom: 55%;
  }
}
@media (min-width: 1024px) {
  .intro {
    font-size: 15vw;
    margin-top: 29%;
    margin-bottom: 7%;
  }
}

.sec-cartier {
  overflow: visible;
  position: relative;
}
.sec-cartier .sec-g__tit {
  position: absolute;
  z-index: 1;
  top: 100;
  left: 20;
  will-change: transform;
  font-size: 15vw;
  font-weight: 400;
  margin-bottom: 0;
}
@media (min-width: 600px) {
  .sec-cartier .sec-g__tit {
    font-size: 18vw;
    margin-bottom: 3%;
  }
}
@media (min-width: 1024px) {
  .sec-cartier .sec-g__tit {
    position: absolute;
    top: 10%;
    left: 20px;
    z-index: 10;
    font-size: 10vw;
  }
}
@media (min-width: 1024px) {
  .sec-cartier .sec-g__cont {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.sec-cartier .sec-g__cont .sec-g__img {
  position: relative;
  will-change: transform;
  border-radius: 18px;
  margin-bottom: 10%;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 600px) {
  .sec-cartier .sec-g__cont .sec-g__img {
    height: 45vh;
    margin-bottom: 5%;
  }
}
@media (min-width: 1024px) {
  .sec-cartier .sec-g__cont .sec-g__img {
    position: relative;
    width: 70%;
    height: 75vh;
    margin-bottom: 0;
  }
}
.sec-cartier .sec-g__cont .sec-g__desc {
  font-weight: normal;
  font-size: 4vw;
}
@media (min-width: 1024px) {
  .sec-cartier .sec-g__cont .sec-g__desc {
    font-size: 2.6875rem;
  }
}
.sec-cartier .sec-g__cont .sec-g__more {
  font-size: 3vw;
  margin-top: 3%;
  margin-bottom: 12%;
  font-family: "Lora", sans-serif;
}
@media (min-width: 600px) {
  .sec-cartier .sec-g__cont .sec-g__more {
    margin-bottom: 30%;
  }
}
@media (min-width: 1024px) {
  .sec-cartier .sec-g__cont .sec-g__more {
    margin-top: 5%;
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .sec-cartier .sec-g__cont .sec-g__more {
    font-size: 2.5rem;
  }
}

.sec-cartier2 {
  overflow: visible;
}
.sec-cartier2 .sec-g__tit {
  font-size: 15vw;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 3%;
}
@media (min-width: 600px) {
  .sec-cartier2 .sec-g__tit {
    margin-bottom: 5%;
  }
}
@media (min-width: 1024px) {
  .sec-cartier2 .sec-g__tit {
    display: grid;
    justify-content: end;
    font-size: 10vw;
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .sec-cartier2 .sec-g__cont {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
.sec-cartier2 .sec-g__cont .sec-g__desc {
  display: block;
  font-weight: normal;
  font-size: 4vw;
  margin-bottom: 15%;
  position: relative;
  will-change: transform;
}
@media (min-width: 600px) {
  .sec-cartier2 .sec-g__cont .sec-g__desc {
    display: block;
    margin-bottom: 10%;
  }
}
@media (min-width: 1024px) {
  .sec-cartier2 .sec-g__cont .sec-g__desc {
    font-size: 2.6875rem;
  }
}
.sec-cartier2 .sec-g__cont .lst-cartier2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 600px) {
  .sec-cartier2 .sec-g__cont .lst-cartier2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .sec-cartier2 .sec-g__cont .lst-cartier2 li {
    width: 45%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 600px) and (min-width: 600px) {
  .sec-cartier2 .sec-g__cont .lst-cartier2 li {
    height: 460px;
  }
}
@media (min-width: 600px) and (min-width: 1024px) {
  .sec-cartier2 .sec-g__cont .lst-cartier2 li {
    height: 700px;
  }
}
@media (min-width: 600px) {
  .sec-cartier2 .sec-g__cont .lst-cartier2 li:nth-child(2n) a {
    display: block;
    margin-top: 45%;
  }
}
@media (min-width: 1024px) {
  .sec-cartier2 .sec-g__cont .lst-cartier2 {
    width: 65%;
  }
}
.sec-cartier2 .sec-g__cont .sec-g__link {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 18px;
  transition: background 0.7s;
  background-size: cover; /* 이미지가 요소를 가득 채우도록 설정 */
  background-position: center; /* 백그라운드 이미지 전환 */
}
.sec-cartier2 .sec-g__cont .sec-g__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Lora", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  background: #d50032;
  opacity: 0; /* 기본 상태에서는 숨김 */
  transition: opacity 0.7s;
  border-radius: 18px;
}
.sec-cartier2 .sec-g__cont .sec-g__link:hover {
  background-image: url(""); /* 마우스 오버 시 변경할 백그라운드 이미지 */
}
.sec-cartier2 .sec-g__cont .sec-g__link:hover .sec-g__hover {
  opacity: 1; /* 마우스 오버 시 텍스트 표시 */
}
.sec-cartier2 .sec-g__cont .sec-g__img {
  border-radius: 18px;
}
@media (min-width: 600px) {
  .sec-cartier2 .sec-g__cont .sec-g__img {
    aspect-ratio: 9/10;
  }
}
@media (min-width: 1024px) {
  .sec-cartier2 .sec-g__cont .sec-g__img {
    aspect-ratio: 9/12;
  }
}
.sec-cartier2 .sec-g__cont .sec-g__img2 {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 18px;
}
@media (min-width: 600px) {
  .sec-cartier2 .sec-g__cont .sec-g__img2 {
    -o-object-fit: cover;
       object-fit: cover;
    aspect-ratio: 9/10;
  }
}
@media (min-width: 1024px) {
  .sec-cartier2 .sec-g__cont .sec-g__img2 {
    aspect-ratio: 9/12;
  }
}

.sec-cartier3 {
  overflow: visible;
}
.sec-cartier3 .sec-g__tit {
  font-size: 15vw;
  font-weight: 400;
  line-height: 100%;
  margin-top: 20%;
  margin-bottom: 7%;
}
@media (min-width: 600px) {
  .sec-cartier3 .sec-g__tit {
    margin-top: 35%;
  }
}
@media (min-width: 1024px) {
  .sec-cartier3 .sec-g__tit {
    font-size: 10vw;
    margin-top: 0;
    margin-bottom: 11%;
  }
}
.sec-cartier3 .lst-cartier3 {
  position: relative;
  will-change: transform;
}
.sec-cartier3 .lst-cartier3 li {
  position: relative;
}
.sec-cartier3 .lst-cartier3 li .sec-g__img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 18px;
  margin-bottom: 7%;
  transition: filter 0.3s ease;
  filter: brightness(70%);
}
@media (min-width: 1024px) {
  .sec-cartier3 .lst-cartier3 li .sec-g__img {
    width: 100%;
    height: 100vh;
  }
}
.sec-cartier3 .lst-cartier3 li .sec-g__img:hover {
  filter: brightness(100%) !important;
}
.sec-cartier3 .lst-cartier3 li .sec-g__img4 {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 18px;
  margin-bottom: 7%;
  transition: opacity 0.3s ease;
  opacity: 0.7;
}
@media (min-width: 1024px) {
  .sec-cartier3 .lst-cartier3 li .sec-g__img4 {
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
  }
}
.sec-cartier3 .lst-cartier3 li .sec-g__img4:hover {
  opacity: 1 !important;
}
.sec-cartier3 .lst-cartier3 li .txt-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  bottom: 18%;
  margin-left: 3%;
}
.sec-cartier3 .lst-cartier3 li .title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 4.5vw;
  color: #fff;
  line-height: 130%;
  margin-bottom: 3%;
}
@media (min-width: 1024px) {
  .sec-cartier3 .lst-cartier3 li .title {
    font-size: 3.5vw;
  }
}
.sec-cartier3 .lst-cartier3 li .desc {
  font-size: 2vw;
  font-weight: 300;
  line-height: 160%;
  color: #fff;
}
@media (min-width: 1024px) {
  .sec-cartier3 .lst-cartier3 li .desc {
    font-size: 1.5vw;
    margin-bottom: 12%;
  }
}

.sec-cartier4 {
  overflow: visible;
}
.sec-cartier4 .sec-g__tit {
  font-size: 15vw;
  font-weight: 400;
  line-height: 100%;
  margin-top: 11%;
  margin-bottom: 10%;
  position: relative;
  will-change: transform;
}
@media (min-width: 600px) {
  .sec-cartier4 .sec-g__tit {
    margin-top: 23%;
  }
}
@media (min-width: 1024px) {
  .sec-cartier4 .sec-g__tit {
    font-size: 10vw;
    margin-top: 0;
  }
}
.sec-cartier4 .swiper-wrapper {
  margin-bottom: 5%;
}

#footer {
  background: #d50032;
}
#footer .footer__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .footer__contents .info {
  font-size: 80%;
}
#footer .footer__contents .footer__img {
  width: 0.5vw;
}/*# sourceMappingURL=styles.css.map */