// 사이트 컨텐츠 내용

// HEADER
#header {
    @include ff-lora;
    .lang__btn {
        @include ff-lora;
    }
}
// MAIN
.intro {
    font-size: 21vw;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 150px;
    letter-spacing: -1px;
    @include ff-lora;
    @include mobileMore {
        font-size: 13.625rem;
        margin-top: 107px;
        margin-bottom: 573px;
    }
    @include tabletMore {
        font-size: 16.875rem;
        margin-top: 300px;
        margin-bottom: 35px;
    }
}

.sec-cartier {
    .sec-g__tit {
        font-size: 15vw;
        font-weight: 400;
        margin-bottom: 25px;
        @include mobileMore {
            font-size: 7.4375rem;
            margin-bottom: 59px;
        }
        @include tabletMore {
            position: absolute;
            top: -150px;
            left: 0;
            z-index: 10;
            font-size: 12.5rem;
            margin-bottom: 0;
        }
    }
    .sec-g__cont {
        @include tabletMore {
            display: flex;
            position: relative;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }
        .sec-g__img {
            border-radius: 18px;
            margin-bottom: 31px;
            @include mobileMore {
                margin-bottom: 47px;
            }
            @include tabletMore {
                position: relative;
                width: 1009px;
                height: 665px;
            }
        }
        .sec-g__desc {
            font-weight: normal;
            font-size: 4vw;
            @include mobileMore {
                font-size: 1.9375rem;
            }
            @include tabletMore {
                display: flex;
            }
        }
        .sec-g__more {
            font-size: 3vw;
            margin-top: 15px;
            margin-bottom: 126px;
            @include mobileMore {
                font-size: 1.5625rem;
                margin-top: 55px;
                margin-bottom: 308px;
            }
            @include tabletMore {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}

.sec-cartier2 {
    .sec-g__tit {
        font-size: 15vw;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 8px;
        @include mobileMore {
            font-size: 7.4375rem;
            margin-bottom: 61px;
        }
        @include tabletMore {
            font-size: 12.5rem;
        }
    }
    .sec-g__desc {
        display: block;
        font-weight: normal;
        font-size: 4vw;
        margin-top: 3px;
        margin-bottom: 60px;
        @include mobileMore {
            display: block;
            font-size: 1.9375rem;
            padding-bottom: 20px;
        }
    }
    .lst-cartier2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include mobileMore {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            li {
                width: 45%;
                &:nth-child(2n) {
                    a {
                        display: block;
                        margin-top: 158px;
                    }
                }
            }
        }
        .sec-g__img {
            border-radius: 18px;
            @include mobileMore {
                height: 460px;
            }
            @include tabletMore {
                height: 700px;
            }
        }
        .sec-g__img2 {
            border-radius: 18px;
            @include mobileMore {
                object-fit: cover;
                height: 460px;
            }
            @include tabletMore {
                height: 700px;
            }
        }
    }
}

.sec-cartier3 {
    .sec-g__tit {
        font-size: 15vw;
        font-weight: 400;
        line-height: 100%;
        margin-top: 87px;
        margin-bottom: 25px;
        @include mobileMore {
            font-size: 7.4375rem;
            margin-top: 308px;
            margin-bottom: 72px;
        }
        @include tabletMore {
            font-size: 12.5rem;
            margin-top: 0;
            margin-bottom: 160px;
        }
    }
    .lst-cartier3 li {
        position: relative;
        margin-bottom: 20px;
        .sec-g__img {
            border-radius: 18px;
            margin-top: 6px;
            margin-bottom: 6px;
            @include mobileMore {
                margin-top: 12px;
                margin-bottom: 12px;
            }
            @include tabletMore {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }

    .txt-area {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        bottom: 50px;
        margin-left: 10px;
    }
    .title {
        font-family: 'Montserrat', sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 4.5vw;
        color: #fff;
        line-height: 130%;
        margin-bottom: 8px;
        @include mobileMore {
            font-size: 2.1875rem;
            margin-bottom: 16px;
        }
        @include tabletMore {
            font-size: 3.125rem;
            margin-bottom: 25px;
        }
    }
    .desc {
        font-size: 2vw;
        font-weight: 300;
        line-height: 160%;
        color: #fff;
        @include mobileMore {
            font-size: 1.125rem;
            margin-bottom: 60px;
        }
        @include tabletMore {
            font-size: 1.875rem;
            margin-bottom: 120px;
        }
    }
}

.sec-cartier4 {
    .sec-g__tit {
        font-size: 15vw;
        font-weight: 400;
        line-height: 100%;
        margin-top: 80px;
        margin-bottom: 40px;
        @include mobileMore {
            font-size: 7.4375rem;
            margin-top: 343px;
            margin-bottom: 80px;
        }
        @include tabletMore {
            font-size: 12.5rem;
        }
    }
    .swiper-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 100px;
        .sec-g__img1 {
            width: 73px;
            @include mobileMore {
                width: 144px;
            }
            @include tabletMore {
                width: 277px;
            }
        }
        .sec-g__img2 {
            width: 73px;
            @include mobileMore {
                width: 163px;
            }
            @include tabletMore {
                width: 312px;
            }
        }
        .sec-g__img3 {
            width: 63.39px;
            @include mobileMore {
                width: 122px;
            }
            @include tabletMore {
                width: 234px;
            }
        }
    }
}
// FOOTER
#footer {
    background: #d50032;

    .footer__contents {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .info {
            font-size: 1.5vw;
        }
        .footer__img {
            width: 10px;
            height: 10px;
        }
    }
    // .line {
    //     position: absolute;
    //     top: 10px;
    //     left: 0;
    //     right: 0;
    //     border-top: 1px solid black;
    //     width: 100%;
    // }
}
