// 사이트 컨텐츠 내용
.intro {
    font-size: 21vw;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 195px;
    letter-spacing: -1px;
    @include ff-lora;
}

.sec-cartier {
    .sec-g__tit {
        font-size: 15vw;
        font-weight: 400;
        margin-bottom: 41px;
    }
    .sec-g__cont {
        .sec-g__img {
            border-radius: 18px;
            margin-bottom: 31px;
        }
        .sec-g__desc {
            font-weight: normal;
            font-size: 4vw;
        }
    }
    .sec-g__more {
        font-size: 3vw;
        margin-top: 36px;
        margin-bottom: 126px;
    }
}

.sec-cartier2 {
    .sec-g__tit {
        font-size: 15vw;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 11px;
    }
    .sec-g__desc {
        font-weight: normal;
        font-size: 4vw;
        margin-top: 20px;
        margin-bottom: 70px;
        @include tabletMore {
            font-size: 20px;
        }
    }
    img {
        border-radius: 18px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.sec-cartier3 {
    .sec-g__tit {
        font-size: 15vw;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 22px;
    }
    .lst-cartier3 li {
        position: relative;
        margin-bottom: 20px;
        img {
            border-radius: 18px;
            margin-top: 6px;
            margin-bottom: 6px;
        }
    }

    .txt-area {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        bottom: 50px;
        margin-left: 10px;
        .title {
            font-family: 'Montserrat', sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            font-size: 6vw;
            color: #fff;
            line-height: 130%;
            margin-bottom: 8px;
        }
        .desc {
            font-size: 2vw;
            font-weight: 300;
            line-height: 160%;
            color: #fff;
        }
    }
}
.sec-cartier4 {
    .sec-g__tit {
        font-size: 15vw;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 25px;
    }
    .swiper-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 100px;
        .sec-g__img1 {
            width: 73px;
        }
        .sec-g__img2 {
            width: 73px;
        }
        .sec-g__img3 {
            width: 63.39px;
        }
    }
}
